:root {
  --fieldset-width: 100%;
  --section-width: 100%;
  --column-width: calc(100%);
  --gradient-left: #096a70;
  --gradient-right: #116481;
  --body-border: #1c6378;
  --legend-color: #2fa666;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(to top right, var(--gradient-left), var(--gradient-right));
}

.widgets {
  width: 720px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 0;
  box-shadow: 0 0 6px 6px var(--body-border);
  height: fit-content;
  background: white;
}

legend {
  text-align: center;
  color: var(--legend-color);
  font-size: 19px;
  font-weight: 600;
}

.currency-field {
  border-style: solid;
  border-color: #aaa;
  border-width: 1px;
  border-radius: 4px;
  width: calc(var(--section-width));
}

.currency-field input {
  width: calc(100% - 35px);
  border-style: none;
}

section {
  display: flex;
  flex-direction: column;

  & > header {
    line-height: 30px;
    background: #f2f7f4;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 0 3px 0 10px;
  }
}

label {
  display: flex;
  flex-direction: column;
}

.text-input input {
  width: calc(var(--section-width));
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
}

fieldset {
  width: var(--fieldset-width);
  border: 0;
  padding: initial;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.column {
  width: var(--column-width);
}
.column:not(:last-of-type) {
  margin-right: 10px;
}
